<h2>Celebrity Details</h2>

<h4>Name: {{celebridade.name}}</h4>
<h4>Occupation: {{celebridade.occupation}}</h4>
<h4>Know for: {{celebridade.catchPhrase}}</h4>

<br>
<a href="/celebrities">View other celebrities</a>