<h2>Update Movie</h2>


<form method="POST" action="">
  <label for="titleUpdate">Title:</label><input type="text" id="titleUpdate" name="titleUpdate" value="{{movieUpdate.title}}">
  <br>
  <label for="genreUpdate">Genre:</label><input type="text" id="genreUpdate" name="genreUpdate" value="{{movieUpdate.genre}}">
  <br>
  <label for="plotUpdate">Plot:</label><input type="text" id="plotUpdate" name="plotUpdate" value="{{movieUpdate.plot}}">
  <br>
  <button>Update Movie</button>
</form>